apiVersion: v1
kind: Service
metadata:
  name: app-preview
  namespace: {{ .Values.rollout.namespace }}
spec:
  selector:
    app: app
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort }}
