apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: expo-app
  namespace: argocd
spec:
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
  sources:
    - repoURL: https://github.com/School-of-Company/Expo-DevOps-V2.git
      targetRevision: main
      path: chart/charts/app
      helm:
        valueFiles:
          - $values/chart/values/values.yaml
    - repoURL: https://github.com/School-of-Company/Expo-DevOps-V2.git
      targetRevision: main
      ref: values
  destination:
    server: https://kubernetes.default.svc
    namespace: app