replicaCount: 2

image: 
  repository: 731746339706.dkr.ecr.ap-northeast-2.amazonaws.com/expo-ecr
  tag: latest
  pullPolicy: IfNotPresent

service:
  port: 8080
  targetPort: 8080

rollout:
  name: expo-rollout
  namespace: app
  terminationGracePeriodSeconds: 5
  strategy:
    blueGreen:
      activeService: app-active
      previewService: app-preview
      autoPromotionEnabled: true
      autoPromotionSeconds: 5
      scaleDownDelaySeconds: 5
