replicaCount: 4

image: 
  repository: 731746339706.dkr.ecr.ap-northeast-2.amazonaws.com/expo-ecr
  tag: expo-20251102080347
  pullPolicy: IfNotPresent

service:
  port: 8080
  targetPort: 8080
  initialDelaySeconds: 10
  periodSeconds: 60
  timeoutSeconds: 10
  successThreshold: 3
  failureThreshold: 2

rollout:
  name: expo-rollout
  namespace: app
  terminationGracePeriodSeconds: 5
  strategy:
    blueGreen:
      activeService: app-active
      previewService: app-preview
      autoPromotionEnabled: true
      autoPromotionSeconds: 5
      scaleDownDelaySeconds: 5
